<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/tren.css">
		<title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      .training{
        max-width: 700px;
        margin: 20px auto;
      }
      .box{
        margin: 10px 0;
      }
      .progress-bar{
        transition: width 0.5s;
      }
      .alert{
        text-align: center;
      }
      .buttons{
        display: flex;
        justify-content: space-around;
      }
      .flip-enter{

      }
      .flip-enter-active{
        animation: flipInX 0.3s linear;
      }
      .flip-leave{

      }
      .flip-leave-active{
        animation: flipOutX 0.3s linear;
      }
      @keyframes flipInX {
        from{transform: rotateX(90deg);}
        to{transform: rotateX(0deg);}
      }
      @keyframes flipOutX {
        from{transform: rotateX(0deg);}
        to{transform: rotateX(90deg);}
      }
    </style>
    </head>
    <body>
      <div id="app">
        <div class="training">
          <h1>Математический тренажёр. Уровень: {{levelNum + 1}}</h1>
          <hr>
          <div class="progress">
            <div class="progress-bar" v-bind:style="progressStyle"></div>
          </div>
          <div class="box">
            <transition name="flip" mode="out-in">

              <strat-screen 
                  v-if="state == 'start'" 
                  v-bind:handler="onStart">
              </strat-screen>

              <question 
                  v-else-if="state == 'question'" 
                  v-bind:handler2="onAnswer"
                  v-bind:settings="settings[levelNum]" 
                  v-bind:levelnum="levelNum">
              </question>


              <message 
                  v-else-if="state == 'message'" 
                  v-bind:text="message.text" 
                  v-bind:handler="onStart" 
                  v-bind:styletype="message.type">
              </message>


              <result-screen 
                  v-else-if="state == 'result'" 
                  v-bind:stats="stats" 
                  v-bind:handler="repeat" 
                  v-bind:handler2="nextLevel">
              </result-screen>


              <last-result-screen
                  v-else-if="state == 'last-result'" 
                  v-bind:handler="begin">
              </last-result-screen>


              <div v-else>Unknown state</div>

            </transition>
          </div>
        </div>
      </div>
        
        

        

       
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
          Vue.component('strat-screen', {
            props: ['handler'],
            template: `<div class="alert alert-secondary"><h3>Вы готовы?</h3><button class="btn btn-success" @click="handler">Поехали</button></div>`
          });

          Vue.component('question', {
            props: ['handler2', 'settings'],
            data: function(){
              return {
                x: this.mtRand(this.settings.begin, this.settings.end),
                y: this.mtRand(this.settings.begin, this.settings.end)
              }
            },
            methods: {
              mtRand(min, max){
                let num = Math.floor(Math.random() * (max - min + 1)) + min;
	              return num;
              },
              shuffle(array) {
                for (let i = array.length - 1; i > 0; i--) {
                  let j = Math.floor(Math.random() * (i + 1));
                  [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
              }
            },
            computed: {
              answer(){
                let good = this.x + this.y;
                let mas = [good];
                let num = 0;
                while(mas.length < this.settings.variants){
                  num = this.mtRand(good + this.settings.range, good - this.settings.range);
                  if(num != good && mas.indexOf(num) === -1){
                    mas.push(num);
                  }
                }
                return this.shuffle(mas);
              }
            },
            template: `<div class="alert alert-secondary">
                          <h3>{{x}} + {{y}} = ?</h3>
                          <hr>
                          <div class="buttons">
                            <button class="btn btn-success" v-for="num in answer" v-on:click="handler2(num, x, y)">
                              {{num}}
                            </button>
                          </div>
                        </div>`
          });

          Vue.component('message', {
            props: ['handler', 'text', 'styletype'],
            template: `<div class="alert" v-bind:class="'alert-' + styletype">
                          <h3>{{text}}</h3>
                          <hr>
                          <button class="btn btn-primary" v-on:click="handler">
                              Продолжить
                          </button>
                        </div>`
          });

          Vue.component('result-screen', {
            props: ['stats', 'handler', 'handler2'],
            template: `<div class="alert alert-primary">
                          <h3>Верных ответов: {{stats.success}}</h3>
                          <h3>Ошибок: {{stats.error}}</h3>
                          <hr>
                          <button class="btn btn-primary" v-on:click="handler">Повторить</button>
                          <button class="btn btn-primary" v-on:click="handler2">Дальше</button>
                        </div>`
          });


          Vue.component('last-result-screen', {
            props: ['handler'],
            template: `<div class="alert alert-primary">
                          <h3>Вы прошли все уровни</h3>
                          <hr>
                          <button class="btn btn-primary" v-on:click="handler">В начало</button>
                        </div>`
          });

          const app = new Vue({
            el: '#app',
            data: {
              state: 'start',
              stats: {
                success: 0,
                error: 0
              },
              message: {
                text: '',
                type: ''
              },
              questMax: 3,
              levelNum: 0,
              settings: [
                {range: 5, variants: 2, begin: 1, end: 30},
                {range: 10, variants: 4, begin: 100, end: 200},
                {range: 50, variants: 6, begin: 1000, end: 1200},
              ]
            },
            computed: {
              questionDone(){
                return this.stats.success + this.stats.error;
              },
              progressStyle(){
                return {
                  width: this.questionDone / this.questMax * 100 + '%'
                }
              }
            },
            methods: {
              begin(){
                this.repeat();
                this.levelNum = 0;
              },
              onStart(){
                if(this.questionDone < this.questMax){
                  this.state = 'question';
                }else{
                  this.state = 'result';
                }
              },
              repeat(){
                this.state = 'question';
                this.stats.success = 0;
                this.stats.error = 0;
              },
              nextLevel(){
                if(this.levelNum == 2){
                  this.state = 'last-result';
                }else{
                  this.levelNum++;
                  this.repeat();
                }
              },
              onAnswer(num, x, y){
                if((x + y) == num){
                  this.state = 'message';
                  this.message.text = 'Верно';
                  this.message.type = 'success';
                  this.stats.success++;
                }else{
                  this.state = 'message';
                  this.message.text = 'Не верно';
                  this.message.type = 'warning';
                  this.stats.error++;
                }
              }
            }
          })
        </script>
    </body>
</html>