<div class="wrap">
   
    <h2 class="header-style">Разные заметки по Vue</h2>

    <ul class="list">
        <li><a href="#1">Как работает реактивность во Vue</a></li>
        <li><a href="#2">Как создаются, подключаются и выводятся компонеты. Также узнаём как используется vue в разных случаях разработки.</a></li>
        <li><a href="#3">Как подключить BootstrapVue к нам в проект.</a></li>
        <li><a href="#4">Что такое предотрисовка или отрисовка на стороне сервера(SSR - Server Side Rendering).</a></li>
        <li><a href="#5">Как в проект на Vue подключить Axios, Sass, Json сервер(тренировочный API), Vuex(общее хранилище данных)</a></li>
        <li><a href="#6">Что такое Vuex и как с ним работать.</a></li>
        <li><a href="#7">Немного не по теме. Как дать права на выполнение скриптов в терминале VSCode</a></li>
    </ul>










    <h3 class="header-style2" id="1">Как работает реактивность во Vue</h3>
    <p>реактивность основана на геттерах и сеттерах. Когда мы передаём объект с данными в конструктор класса Vue, там примерно происходит то, что показано в примере ниже:</p>
    <div class="code-style">
        <pre>
            //HTML
            &lt;div id="app">
                &lt;input type="text" v-model="name">
                &lt;hr>
                &lt;h2>Привет, {{ name }}&lt;/h2>
                &lt;p>Мы вам направили письмо, {{ name }}&lt;/p>
            &lt;/div>

            //JS1
			class MyVue{
				constructor(settings){
					this.el = document.querySelector(settings.el);
					this.data = {};
					this.$data = settings.data;
					this.template = this.el.innerHTML;
					
					for(let key in this.$data){
						Object.defineProperty(this, key, {
							get(){
								return this.$data[key];
							},
							set(value){
								this.$data[key] = value;
								this.render();
							}
						})
					}
					this.render();
				}
				
				render(){
					let pattern = /{{(.*)}}/g;
					let myVue = this;
					let res = this.template.replace(pattern, function(match, name){
						let key = name.trim();
						if(myVue[key] !== undefined){
							return myVue[key];
						}else{
							return match;
						}
					});
					this.el.innerHTML = res;
				}
			}

			//JS2
			let myvue = new MyVue({
				el: '#app',
				data: {
					name: 'Владислав'
				}
			});
        </pre>
    </div>
    <p>Т.е. переменные , которые мы передаём в объекте data становятся свойствами объекта класса Vue, и затем ищется по html шаблоны {{}} и заменяется на значение соответствующих свойств перерисовывая полностью, как в примере выше весь div#app, вставляя в него уже обновлённый html со вставленными переменными в шаблоны. У меня тут берётся полностью весь html из div#app, помещается в template и по нему происходит поиск, но в реальности это не правильно, не надо перерисовывать весь блок #app, это слишком затратно. Например мы поменяли только одну переменную в каком то мини блоке, а перерисовался весь блок. В настоящем же Vue есть такое понятие как "виртуальный DOM", это те мозги, которые при перерисовке высчитывают какой тег нужно обновить не затрагивая другие теги и многое другое. Например в jQuery если мы динамически меняем содержимое каких то тегов, то мы переписываем все эти теги, а во Vue по другому и быстрее это всё происходит.</p>













	<h3 class="header-style2" id="2">Как создаются, подключаются и выводятся компонеты</h3>
	<p><b>Если мы используем Vue как библиотеку, т.е. подключаем её прям на страницу через CDN или выкачиваем и подключаем через файл</b></p>
	<p>В этом случае компоненты регистрируются и подключаются вот так:</p>
	<div class="code-style">
		<pre>
			//<span class="vue-g">HTML</span>
			&lt;div id="app">
				//первый вариант вывода компонента
				&lt;app-component>&lt;/app-component>

				//второй способ вывода компонента
				&lt;div is="app-component">&lt;/div>
			&lt;/div>

			//<span class="vue-g">JS</span>
			//для начала надо подключить тут Vue
			//затем идёт скрипт с этим кодом
			Vue.component('app-component', {
				template: `
					&lt;div class="root">
						&lt;input type="text" v-model="name">
						&lt;hr>
						&lt;p>Привет, {{ name }}&lt;/p>
						&lt;p>Мы вам направили письмо, {{ name }}&lt;/p>
					&lt;/div>
				`,
				data(){
					return{
						name: 'Владислав'
					}
				}
			});
			
			new Vue({
				el: '#app'
			});
		</pre>
	</div>
	<p>Когда мы выносим почти весь html компонента в переменную template, то получается, что в файле index.html только родительский элемент #app присутствует, что упрощает прохождение валидации html кода на сайте W3C, потому что отсутствуют такие атрибуты как v-on, v-bind и т.д.</p>

	<p><b>Если же мы используем Vue почти как фреймворк(но ещё не совсем) и разрабатываем через сборщик webpack и Vue CLI</b></p>
	<p>То тут компонеты подключаются глобально и локально. Глобальные отличаются тем что их можно использовать внутри друг друга без проблем, а локальные только внутри того блока, к которому мы их подключили. Глобальные подключаются в главном файле main.js:</p>
	<div class="code-style">
		<pre>
			 //<span class="vue-b">main.js</span>
			 // import Vue from 'vue';
			 // import App from './App.vue';

			 // вот тут подключается компонент глобально
			 // <span class="vue-r">import NameComponent from './components/NameComponent.vue';</span>

			 // а вот тут он регестрируется
			 // <span class="vue-r">Vue.componet('NameComponent', NameComponent);</span>

			 // Vue.config.productionTip = false;

			 // new Vue ....
		</pre>
	</div>
	<p>Подключение локально внутри файла App.vue. Это значит что компонет NameComponent.vue будет доступен только для компонента App.vue:</p>
	<div class="code-style">
		<pre>
			//<span class="vue-b">App.vue</span>

			//в теге script
			//&lt;script>
			//вот тут подключается компонент локально
			//<span class="vue-r">import NameComponent from './components/NameComponent.vue';</span>

			//export default{
            //   name: 'App',
			//      тут регистрируется компонент
			//      components: {
			//         NameComponent
			//	    }
			//}
			//&lt;/script>
		</pre>
	</div>
	<p>App.vue это тоже самый главный компонент, который встраиваеn втнутри себя другие компоненты и затем встраивается сам внутрь тега #app. Втнутри компоненты состоят из 3х частей: тегов template, script, style. В template содержим весь html код, в скриптах логику ну и в стилях стили. Если хочу перенести из самого первого примера весь код, то то что там содержится в переменной template переносим сюда в тег template, затем всё что там начинается после переменной template переносим в тег script. Например у нас есть один главный компонент App:</p>
	<div class="code-style">
		<pre>
			//в файле main.js всё то же самое, подключён только App.vue
			// import Vue from 'vue';
			// import App from './App.vue';

			// Vue.config.productionTip = false;

			// new Vue ....
		</pre>
	</div>
	<p>Затем сам компонент App.vue. Одно уточнение, <b>у всех помпонентов должен быть корневой элемент</b>:</p>
	<div class="code-style">
		<pre>
			&lt;template>
				&lt;div class="root">
					&lt;input type="text" v-model="name">
					&lt;hr>
					&lt;p>Привет, {{ name }}&lt;/p>
					&lt;p>Мы вам направили письмо, {{ name }}&lt;/p>
				&lt;/div>
			&lt/template

			&lt;script>
				export default{
					data(){
						return{
							name: 'Имя'
						}
					}
				}
			&lt;/script>

			&lt;style scoped>

			&lt;/sctyle>
		</pre>
	</div>
	<p>Разработали что то таким способом, затем после команды <b>npm run build</b> мы получим несколько файлов js, которые уже содержат и наш код и Vue. Встраиваем эти файлы на сайт и укажем для main.js ещё на стадии разработки элемент на сайте, в который будем встраивать наш компонент. Если не понятно как куда и какие файлы встраивать на сайт, то смотрим в папке dist в файл index.html, как и куда там вставленны собранные js файлы. Этот способ разработки считается, что мы использовали Vue на половину как библотеку.</p>
	
	<p><b>Если же использовать Vue как полноценный фреймворк, то мы должны весь сайт превратить в SPA и разрабатывать все компоненты сайта на Vue</b></p>










	<h3 class="header-style2" id="3">Как подключить BootstrapVue к нам в проект.</h3>
	<p>Ну во-первых вот сайт BootstrapVue - https://bootstrap-vue.org/. Там в принципе всё описанно, но повторю тут. Устанавливаем через консоль, находясь в папке проекта, командой <b>npm i bootstrap-vue --save</b> локально. Затем в файле main.js пишем так:</p>
	<div class="code-style">
		<pre>
			import Vue from 'vue';
			import App from './App.vue';

			import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

			// Import Bootstrap and BootstrapVue CSS files (order is important)
			import 'bootstrap/dist/css/bootstrap.css';
			import 'bootstrap-vue/dist/bootstrap-vue.css';

			// Make BootstrapVue available throughout your project
			Vue.use(BootstrapVue);
			// Optionally install the BootstrapVue icon components plugin
			Vue.use(IconsPlugin);

			Vue.config.productionTip = false;

			new Vue ....
		</pre>
	</div>
	<p>Но так мы пишем, если подключаем весь полностью BootstrapVue и его иконки. Даже можно подключть только 2 строки с файлами css и всё, бустрап стили будут работать:</p>
	<div class="code-style">
		<pre>
			import Vue from 'vue';
			import App from './App.vue';

			// Import Bootstrap and BootstrapVue CSS files (order is important)
			import 'bootstrap/dist/css/bootstrap.css';
			import 'bootstrap-vue/dist/bootstrap-vue.css';

			Vue.config.productionTip = false;

			new Vue ....
		</pre>
	</div>
	<p>В чём разница подключения вот таким способом бутстрапа? Ведь мы можем зайти в файл index.html и там в теге head подключить через CDN обычный бутсрап? Разница в том, что обычный использует в js файлах - jQuery, а этот уже использует Vue.</p>
	<p>Как пользоваться этим бутстрапом? Заходим на сайт, который я выше написал, жмём на кнопку GetStarted и слева как и у обычного бустрапа у нас меню из разных плюшек, заходим в компоненты и выбираем Modal, прокручиваем в самый низ страницу и там описано как подключить к нам в разработку только этот модуль Modal, там будет написано:</p>
	<div class="code-style">
		<pre>
			import Vue from 'vue';
			import App from './App.vue';
			import { BModal } from 'bootstrap-vue';

			import 'bootstrap/dist/css/bootstrap.css';
			import 'bootstrap-vue/dist/bootstrap-vue.css';

			Vue.component('b-modal', BModal)

			Vue.config.productionTip = false

			new Vue({
				render: h => h(App),
			}).$mount('#app')
		</pre>
	</div>
	<p>Как видно тут мы подключаем только 1 модуль из всего BootstrapVue</p>
	<p>Вставляем этот код к нам в файл main.js. Всё, теперь у нас в распоряжении есть компонент модального окна. Не нужно самому его изобретать. Идём в наш компонент App.vue и где нибудь внизу пишем тег для этого нового компонента</p>
	<div class="code-style">
		<pre>
			&lt;template>
				&lt;div class="root">
					&lt;input type="text" v-model="name">
					&lt;hr>
					&lt;p>Привет, {{ name }}&lt;/p>
					&lt;p>Мы вам направили письмо, {{ name }}&lt;/p>
					&lt;button type="button" class="btn btn-success"
						v-on:click="confirmForm = !confirmForm">
						Модальное окно
					&lt;/button>
					<span class="vue-g">&lt;b-modal id="modal-1" title="BootstrapVue" v-model="confirmForm">
						&lt;p>Я внутри компонента b-modal&lt;/p>
					&lt;/b-modal></span>
				&lt;/div>
			&lt/template

			&lt;script>
				export default{
					data(){
						return{
							confirmForm: false,
							name: 'Имя'
						}
					}
				}
			&lt;/script>

			&lt;style scoped>

			&lt;/sctyle>
		</pre>
	</div>
	<p>По клику на кнопку мы меняем значение переменной confirmForm на true и видим модальное окно. Почему мы отображаем окно через директиву v-model я пока не знаю. Обычно эта директива делает двунаправленную связь переменной с такими элементами как input, textarea, select.</p>










	<h3 class="header-style2" id="4">Что такое предотрисовка или отрисовка на стороне сервера(SSR - Server Side Rendering)</h3>
	<p>Предположим мы написали интернет магазин полностью на Vue, всё хорошо, мы не мучаем пользователя разными переходами по страницам, всё открывается красиво на одной странице. Переходим на страницу товара с помощью Vue-rooter, открываем исходный код(Правая кнопка мыши - Посмотреть код страницы) и видим в теле страницы body только корневой элемент #app и больше ничего. Роботам поисковиков нечего индексировать, это одна из проблем SPA приложений. Есть 3 выхода из такой ситуации: 1. это забить на SEO и индексацию, 2. предотрисовка содержимого, 3. отрисовка содержимого на стороне сервера.</p>
	<p>1. <b>Забить на SEO</b> для инренет магазина нельзя. Когда же можно это сделать, тогда когда интернет магазин написан нормально как обычный сайт, а вот его админка или что то в этом роде написана на Vue. Индексировать личный кабинет в принципе не надо.</p>
	<p>2. <b>Предотрисовка содержимого(prerendering)</b>. Представим у нас есть сайт из 5 страниц сделанный как SPA и на этом сайте не планируется менять содержимое часто. В таком случае используется предотрисовка, это специальный плагин webpack, который компилирует эти 5 страниц в реальные 5 html файлов, т.е. сборщик у себя где то в памяти выполнил сборку всех компонентов, выполнил весь js код и превратил всё это в чистые html файлы. Всё это делается на сервере, имитируются 5 файлов Html, происходит их индексация и эти файлы снова перезатираются через Vue. Пока для меня это трудно понять, как это всё происходит. Как вообще на стороне сервера работает webpack, если это сборщик в ноде. Короче узнаю подробней, допишу. А дальше немного дослушал и Лаврик говорит, что предотрисовка нормально будет работать только если сервер на Node.js и эту отрисовку можно как то включить в webpack, чтобы они отрисовывала на сервере. Но это всё будет работать если данные в сайте меняются редко.</p>
	<p>3. <b>Отрисовка на стороне сервера(SSR)</b>. И тут есть одна большая подстава. Нужен веб-сервер с установленным на нём Node.js, ведь также нужно как и в предыдущем примере(хотя чем они отличаются пока не понятно) скомпилировать в html файлы содержимое запакованное в webpack. Php в принципе тоже может как то отрисовать подключая библиотеку JavaScriptV8, но часто возникают проблемы. Поэтому в самом Vue есть хороший фреймворк для отрисовки на сервере, это <b>Nuxt.js</b>. Лаврик всё очень быстро и плохо объяснил как вообще этим фреймворком пользоваться, поэтому не понял пока как и что, пойму , допишу.</p>








	<h3 class="header-style2" id="5">Как в проект на Vue подключить Axios, Sass, Json сервер(тренировочный API), Vuex(общее хранилище данных)</h3>
	<p><b>Установка Vuex</b></p>
	<p>Переходим на оф. страничку Vuex - https://v3.vuex.vuejs.org/ru/installation.html   и там показана команда как установить к нам в проект локально это хранилище. Устанавливается командой <b>npm install vuex --save</b>, нужно находиться в папке в проектом. Также там есть пример как подключить и Vue и Vuex прям к сайту через тег скрипт.</p>
	<p><b>Установка Axios</b></p>
	<p>Переходим по этому адресу - https://ru.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html   или на оф. сайте Vue вверху Обучение - Книга рецептов и слева находим "Используем axios для доступа к API". Находим ссылку на GitHub - https://github.com/axios/axios  и пролистаем вниз, там есть команды как установить его. Вот такая команда <b>npm install axios</b></p>
	<p><b>Установка Sass</b></p>
	<p>Можно не переходить и не искать команды для установки. Можно сразу открыть файл package.json и там прописываем в раздел devDependencies "node-sass": "^4.13.0" и "sass-loader": "^8.0.0". Ну и затем когда все пакеты прописаны в этом файле в консоле запускаем команду <b>npm i</b>. Но на всякий случай оставлю ссылки на GitHub где указаны команды для установки. Для node-sass - https://github.com/sass/node-sass, для sass-loader - https://www.npm.red/package/sass-loader - (эта ссылка устанавливает также node-sass). Также чтобы мы могли писать на scss нужно в файле vue.config.js написать следующее:</p>
	<div class="code-style">
		<pre>
			module.exports = {
				css: {
					loaderOptions: {
						sass: {
							additionalData: `@import "@/assets/styles/styles.scss";`
						}
					}
				}
			};
		</pre>
	</div>
	<p>Т.е. нужно прописать путь до файла с главными стилями. В эти главные стили уже можно импортировать вспомогательные(иедиа, переменные, сбросы и т.д.). Кстати файл vue.config.js теперь заменяет файл webpack.config.js.</p>
	<p>И ещё мы должны импортировать файл со стилями в main.js прописав строку - import "./assets.styles/styles.scss". И затем в каждом компоненте в теге style дописать атрибут - lang="scss"</p>
	<p><b>Установка Json сервера</b></p>
	<p>Вот ссылка на GitHub по документации Json сервера - https://github.com/typicode/json-server и там есть команда <b>npm install -g json-server</b>. После скачивания этого пакета, в проекте появится файл db.json, а может и не появится, как написано в документации, мы можем и сами его создать. Если в консоли набрать команду <b>json-server --watch db.json</b>, то устанавливается наблюдение за этим файлом и уже этот файл можно использовать как полноценный json, который к нам пришёл как-будто с сервера. Как далее потом к нему обращаться опишу либо здесь, либо в другом месте, место укажу. Описываю тут. Пишем в консоле команду json-server --watch db.json. Одну заметку сделаю, чтобы запустить json server открываем второй терминал и там запускаем эту команду, а в первом терминале запущен проект. Всё, запустили и на говорят, что обратиться за тем что лежит в db.json можно по адресу http://localhost:3000/products. Products в конце адреса, потому что так называется массив в json файле.</p>









	<h3 class="header-style2" id="6">Что такое Vuex и как с ним работать.</h3>
	<p>Vuex это централизованное хранилище данных. Это значит что любой компонент, минуя все эти передачи через метод $emit родителю, может спокойно получить какие то данные, изменить их и эти изменения тут уже отразятся в других компонентах, которые тоже работают по этим данным. Т.е. это такое хранилище, которое видно всем компонентам.</p>
	<p>Чтобы начать с ним работать его нужно установить в проект, как это сделать описанно выше. Затем в проекте рядом с файлом main.js и App.vue создадим папку vuex, внутри этой папки создадим файл store.js. В этом файле опишу пример из разработки интернет магазина:</p>
	<div class="code-style">
		<pre>
			import Vue from 'vue'
			import Vuex from 'vuex'
			import axios from 'axios'

			Vue.use(Vuex);

			let store = new Vuex.Store({
				//<span class="vue-g">состояния. Здесь храняться переменные, объекты, массивы</span>
				state: {
					products: []
				},
				//<span class="vue-g">этот объект нужен для методов изменяющих состояния(state) переменных, объектов, массивов</span>
				//<span class="vue-g">изменения синхронны, т.е. если вызываются 2 метода, то сначала выполнится один, потом другой</span>
				mutations: {
					
				},
				//<span class="vue-g">если не хотим синхронности выполнения методов, есть объект с действиями, тут методы выполняются асинхронно</span>
				//<span class="vue-g">создадим метод получения объекта json products из адреса, который мы получили запустив команду <b>json-server --watch db.json</b></span>
				//<span class="vue-g"></span>
				actions: {
					GET_PRODUCTS_FROM_API({commit}){
						return axios('http://localhost:3000/products', {
							method: 'GET'
						}).then((products) => {
							commit('SET_PRODUCTS_TO_STATE', products.data);
							return products;
						}).catch((err) =>{
							console.log(err);
							return err;
						});
					}
				},
				//<span class="vue-g">этот объект позволяет получать данные из state более короче, чем напрямую</span>
				getters: {
					
			});

			export default store;
		</pre>
	</div>
	<p>Далее файл store.js нужно импортировать в файл main.js вот так - import store from './vuex/store.js' и добавить его в объект параметров new Vue({store: store}, render: h => h(App),).$mount('#app').</p>
	<p>Имена методов в actions, mutations, getters в основном пишут большими буквами.</p>









	<h3 class="header-style2" id="7">Немного не по теме. Как дать права на выполнение скриптов в терминале VSCode.</h3>
	<p>Решил использовать терминал редактора для запуска проектов на Vue, но наткнулся на известную проблему с запрещением выполнять скрипты в оболочке PowerShell. Вот сайт, на котором нашёл как решить её - https://winitpro.ru/index.php/2020/06/03/powershell-execution-policy-zapusk-scriptov/. Нужно запустить редактор от имени админа, затем вводим команду <b>Get-ExecutionPolicy</b>, она скорее всего выведет слово Restricted, что означает что запрещены любые запуски скриптовЮ только интерактивные команды можно вводить. Затем вводим команду <b>Set-ExecutionPolicy RemoteSigned –Force</b>. Всё, скрипты можно запускать. Если вдруг нужно как то поменять статус выполнения мкриптов, смотреть на этом сайте.</p>






</div>
