<div class="wrap">
   
   <p>Эти решения не идеал, это я решаю на тот момент, на какой хватает знаний.</p>
   
    <h2 class="header-style">Примеры</h2>
    
    <h3 class="header-style2">Задача - "Угадай число"</h3>
    <p>Реализуйте игру 'угадай число'. Суть: компьютер загадывает число от 1 до 100. В инпут на экране игрок вводит число от 1 до 100, пытаясь угадать, что же загадал компьютер. Если игрок ввел число, меньше загаданного, компьютер должен написать 'введите число побольше', а если введено больше загаданного, то, соответственно, компьютер должен написать 'введите число поменьше'. Если же игрок угадал число, игра начинается сначала.</p>
    <p>HTML:</p>
    <div class="code-style">
    <pre>
    < div id="app">
          < input type="text" v-model="num">
          < span>{{rand}}< /span>

          < template v-if="num > 0">
          < p v-if="num < rand">Ваше число меньше< /p>
          < p v-else-if="num > rand">Ваше число больше< /p>
          < p v-else>Вы угадали {{setup()}} < /p>
          < /template>
    < /div>
    </pre>
    </div>
    <p>JS:</p>
    <div class="code-style">
    <pre>
    const app = new Vue({
        el: '#app',
        data: {
          num: null,
          rand: null,
        },
        methods: {
          mtRand(min, max){
            let num = Math.floor(Math.random() * (max - min + 1)) + min;
            return num;
          },
          setup(){
            let self = this;
            setTimeout(function(){
              self.rand = self.mtRand(2, 10);
              self.num = null;
            },2000);
          }
        },
        created: function () {
          this.rand = this.mtRand(2, 10);
        }
    })
    </pre>
    </div>
    
    
    
    
    
    <h3 class="header-style2">Задача - Вывести продукты в таблицу</h3>
    <p>Дана HTML таблица. В ней мы будем отображать купленные продукты. Каждый ряд таблицы - это один продукт, а именно: название продукта, его цена, количество и уплаченная сумма, которая равна цене умноженной на количество. Продукты хранятся в объекте. Ввыведите эти продукты в виде таблицы, в отдельной колонке рассчитав сумму. Под таблицей выведите полную стоимость всех продуктов.</p>
    <p>HTML:</p>
    <div class="code-style">
    <pre>
    < table border="1px">
        < th>Название< /th>
        < th>Цена< /th>
        < th>Количество< /th>
        < th>Сумма< /th>
        < tbody>
          < tr v-for="item in products">
            < td>{{item.name}}< /td>
            < td>{{item.price}}< /td>
            < td>{{item.quantity}}< /td>
            < td>{{item.price * item.quantity}}< /td>
          < /tr>
        < /tbody>
    < /table>
    < table border="1px">
        < tr>
          < td v-bind:style="{width: width + 'px'}">Итог:< /td>
          < td v-bind:style="{width: width2 + 'px'}">{{totalSum}}< /td>
        < /tr>
    < /table>
    </pre>
    </div>
    <p>JS:</p>
    <div class="code-style">
    <pre>
    const app = new Vue({
        el: '#app',
        data: {
          products: [
              {name: 'product1', price: 100, quantity: 4},
              {name: 'product2', price: 200, quantity: 5},
              {name: 'product3', price: 300, quantity: 6},
            ],
          sum: 0,
          width: 204,
          width2: 49
        },
        computed: {
          totalSum(){
            for(let i = 0; i &lt; this.products.length; i++){
              this.sum += this.products[i].price * this.products[i].quantity;
            }
            return this.sum;
          }
        }
      })
    </pre>
    </div>
    <p>Может как то можно обойтись и без цикла в totalSum</p>
    <img src="/site-shpora/img/12.jpg" alt="">
    
    
    
    
    
    
    <h3 class="header-style2">Задача - Вывести продукты в таблицу через добавление товаров и сделать кнопку удаления.</h3>
    <p>Модифицируйте предыдущую задачу: пусть теперь таблица изначально пуста, зато под ней есть 3 инпута, в которые можно ввести название продукта, цену и количество, затем нажать на кнопку - и этот продукт добавится в таблицу. Отдельная колонка полной стоимости продукта также должна рассчитываться, как и полная стоимость всех добавленных продуктов. Сделайте также колонку со ссылкой 'удалить', по нажатию на которую будет удаляться соответствующий продукт.</p>
    <p>HTML:</p>
    <div class="code-style">
    <pre>
    < table border="1px">
        < th>Название< /th>
        < th>Цена< /th>
        < th>Количество< /th>
        < th>Сумма< /th>
        < tbody>
          < tr v-for="(item, index) in products">
            < td>{{item.name}}< /td>
            < td>{{item.price}}< /td>
            < td>{{item.quantity}}< /td>
            < td>{{item.price * item.quantity}}< /td>
            < td>< a href="#" v-on:click="removeProduct(index)">Удалить< /a>< /td>
          < /tr>
          < tr>
            < td colspan="3">Итог: < /td>
            < td>{{totalSum}} руб.< /td>
          < /tr>
        < /tbody>
    < /table>
    
    < p>< span v-bind:style="objStyle">Введите название продукта:< /span> < input type="text" v-model="name">< /p>
    < p>< span v-bind:style="objStyle">Введите стоимость:< /span> < input type="text" v-model="price">< /p>
    < p>< span v-bind:style="objStyle">Введите количество:< /span> < input type="text" v-model="quantity">< /p>
    < br>
    < button v-on:click="addProduct">Добавить< /button>
    </pre>
    </div>
    <p>JS:</p>
    <div class="code-style">
    <pre>
    const app = new Vue({
        el: '#app',
        data: {
          products: [],
          sum: 0,
          name: '',
          price: null,
          quantity: null,
          objStyle: {
            display: 'inline-block',
            width: '200px'
          }
        },
        methods: {
          addProduct(){
            this.products.push({name: this.name, price: this.price, quantity: this.quantity});
          },
          removeProduct(i){
            this.products.splice(i, 1);
          }
        },
        computed: {
          totalSum(){
            this.sum = null;
            for(let i = 0; i &lt; this.products.length; i++){
              this.sum += this.products[i].price * this.products[i].quantity;
            }
            return this.sum;
          }
        }
      })
    </pre>
    </div>
    <img src="/site-shpora/img/13.jpg" alt="">
    
    
    
    
    
    
    
    
    
    <h3 class="header-style2">Задача - Вывести список массива с пользователями и сделать кнопку изменения.</h3>
    <p>Выведите его элементы в виде списка ul. В каждой li будет имя и возраст юзера. И сделать так, чтобы в конце каждой li появилась ссылка 'редактировать'. По нажатию на эту ссылку под ul должны появится кнопка и два инпута, в которых будет имя и возраст пользователя. По нажатию на кнопку данные должны поредактироваться, а инпуты и кнопка спрятаться.</p>
    <p>HTML:</p>
    <div class="code-style">
    <pre>
    <div id="app">
    < ul>
        < li v-for="(user, index) in users">Имя: {{user.name}}, возраст: {{user.age}} < a href="#" v-on:click="editUser(index)">Изменить< /a>< /li>
    < /ul>
    < template v-if="status">
        < p>< span class="a">Изменить имя: < /span>< input type="text" v-model="name">< /p>
        < p>< span class="a">Изменить возраст: < /span>< input type="text" v-model="age">< /p>
        < button v-on:click="insertEdit">Принять< /button>
    < /template>
    < /div>
    </pre>
    </div>
    <p>JS:</p>
    <div class="code-style">
    <pre>
    const app = new Vue({
        el: '#app',
        data: {
          users: [
            {name: 'Коля', age: 30},
            {name: 'Вася', age: 40},
            {name: 'Петя', age: 50},
          ],
          status: false,
          index: null,
          name: '',
          age: ''
        },
        methods: {
          editUser(i){
            this.status = true;
            this.index = i;
            this.name = this.users[this.index].name;
            this.age = this.users[this.index].age;
          },
          insertEdit(){
            let obj = this.users[this.index];
            if(this.name) obj.name = this.name;
            if(this.age) obj.age = this.age;
            this.status = false;
          }
        }
      })
    </pre>
    </div>
    
    
    
    
    
    
    <h3 class="header-style2">Математический тренажёр.</h3>
    <p>Код со стилями разметкой можно посмотреть в файле articles/iframe/vue1/vue1.html</p>
    <iframe src="articles/iframe/vue1/vue1.html" frameborder="1" width="720" height="350"></iframe>
    
    
    
    <h3 class="header-style2">Калькулятор для сборки торта.</h3>
    <p>Находится в папке D:\Web\JS\test\project4</p>
    <p>Задача сделална через сборщик webpack</p>
    <hr>
    <p>А тут этот же калькулятор написан на чистом js: файл находится в articles/iframe/vue2/vue2.html</p>
    <iframe src="articles/iframe/vue2/vue2.html" frameborder="1" width="720" height="350"></iframe>
    
    
    
    
    
    
    <h3 class="header-style2">Список дел.</h3>
    <p>Находится в папке D:\Web\JS\test\project5</p>
    <p>Задача сделална через сборщик webpack</p>
    <p>На чистом js этой задачи нет пока.</p>
    
    <iframe src="articles/iframe/vue3/vue3.html" frameborder="1" width="720" height="350"></iframe>
</div>
