<div class="wrap">
   
    <h2 class="header-style">Директивы</h2>
    
    
    <a href="#1">v-once</a>
    <a href="#2">v-html</a>
    <a href="#3">v-bind:</a>
    <a href="#4">v-if</a>
    <a href="#5">v-show</a>
    <a href="#6">v-for</a>
    <a href="#7">v-on</a>
    <a href="#8">v-model</a>
    
    
    
    
    
    <h3 class="header-style2">Директива v-once</h3>
    <p><span class="tag-style" id="1">v-once</span> - эта дирекива говорит о том, что при изменении свойства message объекта data, значение  {{ message }} заменится только один раз. В основном при загрузке страницы, потом параграф с этой директивой не изменится никогда.</p>
    <div class="code-style">
    <pre>
    HTML:
        < div id="app">
            < p>{{ message }}< /p>
            < p <span class="vue-b">v-once</span>>{{ message }}< /p>
        < /div>
        
    JS:
        new Vue({
            el: "#app",
            data: {
                message: "Сообщение"
            }
        })
    </pre>
    </div>
    
    
    
    
    
    <h3 class="header-style2">Директива v-html</h3>
    <p><span class="tag-style" id="2">v-html</span> - эта дирекива принимает в своё значение свойство из data или другое какое нибудь вычисленное свойство и в тег, в котором она находится вставляет уже обработанный html.</p>
    <div class="code-style">
    <pre>
    HTML:
        < div id="app">
            < p>{{ message }}< /p>
            < p <span class="vue-b">v-html</span>="<span class="vue-g">message</span>">< /p>
        < /div>
        
    JS:
        new Vue({
            el: "#app",
            data: {
                message: '< span style="color: red;"> Тут красный текст< /span>'
            }
        })
        
    Результат:
    
    < span style="color: red;"> Тут красный текст< /span>
    
    <span class="vue-r">Тут красный текст</span>
    </pre>
    </div>
    
    
    
    
    
    <h3 class="header-style2">Директива v-bind</h3>
    <p><span class="tag-style" id="3">v-bind:</span> - эта дирекива работает с атрибутами и связывает реактивно значение атрибута и свойства объета data также как и с двойными кавычками {{}}.</p>
    <div class="code-style">
    <pre>
    HTML:
        < div id="app">
            < p <span class="vue-b">v-bind:class</span>="<span class="vue-g">nameClass</span>">< /p>
            < p <span class="vue-b">v-bind:class</span>="<span class="vue-g">'top-' + nameClass</span>">< /p>//также можно и выражения вставлять в значение атибута и в {{}}
            //{{ ok ? 'YES' : 'NO' }}
            //{{ message.split('').reverse().join('') }}
        < /div>
        
    JS:
        new Vue({
            el: "#app",
            data: {
                nameClass: 'active'
            }
            или
            data: {
                nameClass: 'active active2 active3' //для задания нескольких классов
            }
        })
        
    Результат:
    
    В 1й параграф p в класс добавится значение active
    Во 2й параграф p в класс добавится значение top-active
    </pre>
    </div>
    <p>После дерективы v-bind: идёт аргумент дерективы, в примере выше это слово <span class="vue-g">class</span>. Этот аргумент может быть динамически изменён. Можно использовать JavaScript-выражение в аргументе директивы, заключив его в квадратные скобки:</p>
    <p><span class="vue-b">< a v-bind:[attributeName]="url"> ... < /a></span></p>
    <p>Здесь attributeName будет выполняться как выражение JavaScript, а его вычисленное значение использоваться в качестве финального значения аргумента. Например, если ваш экземпляр Vue имеет в данных свойство attributeName, значение которого равно "href", то это будет эквивалентно привязке v-bind:href.</p>
    <p>Таким же образом можно использовать динамические аргументы для привязки обработчика к динамическому имени события:</p>
    <p><span class="vue-b">< a v-on:[eventName]="doSomething"> ... < /a></span></p>

   <p><b>Для атрибуты disabled</b>.</p>
    <p>Директива v-bind: также работает с такими атрибутами как <span class="vue-g">disabled</span>.</p>
    <div class="code-style">
    <pre>
    HTML:
        < input type="checkbox" v-model="checked">
        < input type="text" v-bind:disabled="!checked">
    JS:
        let app = new Vue({
            el: '#app',
            data: {
                checked: true,
            },
        });
    </pre>
    </div>
    <p>Когда стоит галочка в чекбоксе, значит свойство checked равно true и значит текстовый инпут, который раядом - разблокирован, потому что в атрибуте disabled находится false. Ну и наоборот. Это один из примеров использования атрибута disabled в vue.</p>

    <p>Vue предоставляет дополнительные возможности директивы <span class="vue-b">v-bind</span> для работы с атрибутами <span class="vue-g">class</span> и <span class="vue-g">style</span>. Эти атрибуты кроме строковых значений могут принимать <b>массивы или объекты</b>. </p>
    
    <p><b>Для атрибута class</b></p>
    <p>Для динамической установки или удаления CSS-классов можно передавать <b>объект</b> в директиву v-bind:class:</p>
    <div class="code-style">
    <pre>
    < div v-bind:class="<span class=\"vue-g\">{ active: isActive </span>}">< /div>
    </pre>
    </div>
    <p>Запись выше означает, что наличие класса active будет определяться истинностью параметра isActive. Таким образом можно управлять несколькими классами, добавляя в объект другие поля. Кроме того, v-bind:class можно использовать совместно с обычным атрибутом class:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError}">< /div>
        
    JS:
        data: {
          isActive: true,
          hasError: false
        }
    
    Результат:
    < div class="static active">< /div>
    </pre>
    </div>
    <p>Используемый объект необязательно указывать прямо в шаблоне:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:class="<span class='vue-g'>classObject</span>">< /div>
        
    JS:
        data: {
          classObject: {
            active: true,
            'text-danger': false
          }
        }
    
    Результат:
    < div class="active">< /div>
    </pre>
    </div>
    <p>Можно также использовать и вычисляемые свойства, которые возвращают объект — это очень распространённый и мощный приём:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:class="<span class='vue-g'>classObject</span>">< /div>
        
    JS:
        data: {
            isActive: true,
            error: null
        },
        computed: {
          classObject: function () {
            return {
              active: this.isActive && !this.error,
              'text-danger': this.error && this.error.type === 'fatal'
            }
          }
        }
    
    Результат:
    < div class="active">< /div>
    </pre>
    </div>
    <p>В v-bind:class можно передать и <b>массив</b>:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:class="<span class='vue-g'>[activeClass, errorClass]</span>">< /div>
        
    JS:
        data: {
           activeClass: 'active',
           errorClass: 'text-danger'
        }
    
    Результат:
    < div class="active text-danger">< /div>
    </pre>
    </div>
    <p>Для переключения классов в массиве, в зависимости от некоторого 
    условия, можно использовать условный оператор в тернарной форме:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:class="<span class='vue-g'>[isActive ? activeClass : '', errorClass]</span>">< /div>
    </pre>
    </div>
    <p>В этом случае errorClass будет применён к элементу всегда, а activeClass — только в случае истинности isActive.</p>
    <p>Однако, такая запись становится слегка громоздкой, особенно если есть несколько классов, задаваемых по условию. Но можно использовать и смешанный синтаксис:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:class="<span class='vue-g'>[{ active: isActive }, errorClass]</span>">< /div>
    </pre>
    </div>
    
    
    <p><b>Для атрибута style</b></p>
    <p><b>Объектная запись</b> для <span class="vue-b">v-bind:style</span> выглядит почти как CSS, хотя, на самом деле, это объект JavaScript:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:style="<span class='vue-g'>{ color: activeColor, fontSize: fontSize + 'px' }</span>">< /div>
        
    JS:
        data: {
          activeColor: 'red',
          fontSize: 30
        }
    </pre>
    </div>
    <p>Можно выносить объект стилей из шаблона, чтобы сделать код чище:</p>
    <div class="code-style">
    <pre>
    HTML:
        < div v-bind:style="<span class='vue-g'>styleObject</span>">< /div>
        
    JS:
        data: {
          styleObject: {
            color: 'red',
            fontSize: '13px'
          }
        }
    </pre>
    </div>
    <p>Можно использовать и вычисляемые свойства, возвращающие объекты стилей.</p>
    <p>Запись v-bind:style с <b>массивом</b> позволяет применить несколько объектов стилей к одному и тому же элементу:</p>
    <div class="code-style">
    <pre>
        < div v-bind:style="<span class='vue-g'>[baseStyles, overridingStyles]</span>">< /div>
    </pre>
    </div>
    
    
    
    
    
    <h3 class="header-style2">Директива v-if</h3>
    <p><span class="tag-style" id="4">v-if</span> - эта директива используется для отображения блока по условию. Блок будет отображаться только в том случае, если выражение директивы возвращает значение, приводимое к true.</p>
    <div class="code-style">
    <pre>
        < div v-if="<span class='vue-g'>value</span>">Содержимое< /div>
    </pre>
    </div>
    <p>Блок div отобразится на странице если свойство <span class="vue-g">value</span> равно ture.</p>
    <p>Также можно добавить блок «иначе», используя директиву <span class="vue-b">v-else</span>. Элемент с директивой v-else должен следовать сразу за элементом с директивой v-if или v-else-if, иначе он не будет распознан.</p>
    <div class="code-style">
    <pre>
        < div v-if="<span class='vue-g'>value</span>">Содержимое< /div>
        < div v-else>Содержимое< /div>
    </pre>
    </div>
    
    <p>Поскольку v-if — директива, она должна быть указана в одном конкретном теге. Но что если мы хотим управлять отображением сразу нескольких элементов? В таком случае можно применить v-if к псевдоэлементу < template>, который служит невидимой обёрткой и сам в результатах отрисовки не появляется.</p>
    <div class="code-style">
    <pre>
        < template v-if="ok">
          < h1>Заголовок< /h1>
          < p>Абзац 1< /p>
          < p>Абзац 2< /p>
        < /template>
    </pre>
    </div>
    <p>v-else-if служит в качестве блока «else if» для директивы v-if.</p>
    
    
    
    
    
    <h3 class="header-style2">Директива v-show</h3>
    <p><span class="tag-style" id="5">v-show</span> - эта директива предоставляет ещё одну возможность условного отображения. Используется она так же:</p>
    <div class="code-style">
    <pre>
        < h1 v-show="ok">Привет!< /h1>
    </pre>
    </div>
    <p>Разница в том, что элемент с v-show будет всегда оставаться в DOM, а изменяться будет лишь свойство display в его параметрах CSS.</p>
    <p><b>v-show не работает на элементе < template> и не работает с v-else.</b></p>
    <p>В целом, у v-if выше затраты на переключения, а у v-show больше затрат на первичную отрисовку. Так что если вы предполагаете, что переключения будут частыми, используйте v-show, если же редкими или маловероятными — v-if.</p>
    
    
    
    
    
    <h3 class="header-style2">Директива v-for</h3>
    <p><b>v-for для массива</b></p>
    <p><span class="tag-style" id="6">v-for</span> - директива для отрисовки элементов(например списки, строки или ячейки таблицы) в количестве равном количеству элементов в массиве. У директивы v-for особый синтаксис записи: <span class="vue-g">item in items</span>, где items — исходный массив, а item — ссылка на текущий элемент массива:</p>
    <div class="code-style">
    <pre>
    HTML:
        < ul id="example">
          < li v-for="<span class='vue-g'>item in items</span>">{{ item.message }< /li>
        < /ul>
        
    JS:
        var example = new Vue({
          el: '#example',
          data: {
            items: [
              { message: 'Foo' },
              { message: 'Bar' }
            ]
          }
        })
    
    Результат:
    Мы увидим список из двух лишек
    </pre>
    </div>
    <p>Внутри блока v-for нам доступны свойства из области видимости родителя. У v-for также есть второй опциональный параметр с индексом текущего элемента.</p>
    <div class="code-style">
    <pre>
    HTML:
        < ul id="example">
          < li v-for="<span class='vue-g'>(item, index) in items</span>">{{parent}} - {{index}} - {{ item.message }}< /li>
        < /ul>
        
    JS:
        var example = new Vue({
          el: '#example',
          data: {
            parent: 'Родитель',
            items: [
              { message: 'Foo' },
              { message: 'Bar' }
            ]
          }
        })
    
    Результат:
    Родитель - 0 - Foo
    Родитель - 1 - Bar
    </pre>
    </div>
    <p>Вместо <span class="vue-g">in</span> разделителем можно использовать <span class="vue-g">of</span>, как в итераторах JavaScript:</p>
    <p><b>v-for для объекта</b></p>
    <p>v-for можно также использовать для отрисовки элементов по свойствам объекта:</p>
    <div class="code-style">
    <pre>
    HTML:
        < ul id="example">
          < li v-for="<span class='vue-g'>value in object</span>">{{value}}< /li>
        < /ul>
        
    JS:
        var example = new Vue({
          el: '#example',
          data: {
            object: {
              title: 'How to do lists in Vue',
              author: 'Jane Doe',
              publishedAt: '2016-04-10'
            }
          }
        })
    
    Результат:
    How to do lists in Vue
    Jane Doe
    2016-04-10
    </pre>
    </div>
    <p>Можно использовать второй аргумент для получения имени свойства (ключа объекта) и третий — для индексов::</p>
    <div class="code-style">
    <pre>
    HTML:
        < ul id="example">
          < li v-for="<span class='vue-g'>(value, name, index) in object</span>">{{index}}. {{name}} : {{value}}< /li>
        < /ul>
    
    Результат:
    0. title : How to do lists in Vue
    1. author : Jane Doe
    2. publishedAt : 2016-04-10
    </pre>
    </div>
    <p><b>Методы внесения изменений</b></p>
    <p>Vue оборачивает у наблюдаемого массива методы внесения изменений, чтобы они вызывали обновления представления. Оборачиваются следующие методы: <b>push(), pop(), shift(), unshift(), splice(), sort(), reverse()</b>. Можно открыть консоль и поиграть с массивом items из предыдущего примера, вызывая его методы внесения изменений, например: example1.items.push({ message: 'Baz' }).</p>
    <p>Методы внесения изменений, как следует из их названия, изменяют оригинальный массив, на котором они вызываются. Существуют и неизменяющие методы, такие как <b>filter(), concat() и slice()</b>, они не вносят изменений в изначальный массив, а всегда возвращают новый массив. При работе с неизменяющими методами можно просто заменять старый массив на новый:</p>
    <div class="code-style">
    <pre>
    example.items = example.items.filter(function (item) {
      return item.message.match(/Foo/)
    })
    </pre>
    </div>
    <p><b>Отображение отфильтрованных/отсортированных результатов</b></p>
    <p>Иногда хочется отобразить отфильтрованную или отсортированную версию массива, не изменяя оригинальные данные. В таком случае создайте вычисляемое свойство, возвращающее отфильтрованный или отсортированный массив:</p>
    <div class="code-style">
    <pre>
    HTML:
        < li v-for="<span class='vue-g'>n in evenNumbers</span>">{{ n }}< /li>
        
    JS:
        data: {
          numbers: [ 1, 2, 3, 4, 5 ]
        },
        computed: {
          evenNumbers: function () {
            return this.numbers.filter(function (number) {
              return number % 2 === 0
            })
          }
}
    </pre>
    </div>
    <p>В ситуациях, когда вычисляемые свойства невозможно использовать (например, внутри вложенных циклов v-for), просто используйте метод:</p>
    <div class="code-style">
    <pre>
    HTML:
        < ul v-for="<span class='vue-g'>set in sets</span>">
          < li v-for="<span class='vue-g'>n in even(set)</span>">{{ n }}< /li>
        < /ul>
        
    JS:
        data: {
            sets: [[ 1, 2, 3, 4, 5 ], [6, 7, 8, 9, 10]]
        },
        methods: {
          even: function (numbers) {
            return numbers.filter(function (number) {
              return number % 2 === 0
            })
          }
        }
    </pre>
    </div>
    <p><b>v-for и диапазоны</b></p>
    <p>В v-for вместо массива и объекта можно передать целое число. В этом случае шаблон будет повторён указанное число раз.</p>
    <div class="code-style">
    <pre>
    < div>
      < span v-for="n in 10">{{ n }} < /span>
    < /div>
    Результат:
    12345678910
    </pre>
    </div>
    <p><b>v-for и тег template</b></p>
    <p>Подобно использованию с v-if, также можно использовать тег < template> с директивой v-for для отображения блока из нескольких элементов. Например:</p>
    <div class="code-style">
    <pre>
    < ul>
      < template v-for="item in items">
        < li>{{ item.msg }}< /li>
        < li class="divider" role="presentation">< /li>
      < /template>
    < /ul>
    </pre>
    </div>
    
    
    
    
    
    
    
    
    <h3 class="header-style2">Директива v-on</h3>
    <p><span class="tag-style" id="7">v-on</span> - директива отслеживает указанное событие и запускает указанный обработчик.</p>
    <div class="code-style">
    <pre>
    HTML:
    
        < div id="example">
          < button v-on:click="counter += 1">+1< /button>
          < p>Кнопка выше была нажата {{ counter }} раз< /p>
        < /div>
        
    JS:
        var example = new Vue({
          el: '#example',
          data: {
            counter: 0
          }
        })
    </pre>
    </div>
    <p><b>Обработчики событий</b></p>
    <p>Логика обработчика события может быть довольно сложной, поэтому оставлять JavaScript-код в значении атрибута v-on не всегда возможно. В этом случае v-on может принять и название метода, который необходимо вызвать.</p>
    <div class="code-style">
    <pre>
    HTML:
        < div id="example">
          <!-- `greet` — это название метода, определённого ниже -->
          < button v-on:click="<span class='"'vue-g'>greet</span>">Поприветствовать< /button>
        < /div>
        
    JS:
        var example = new Vue({
          el: '#example',
          data: {
            name: 'Vue.js'
          },
          // определяйте методы в объекте `methods`
          methods: {
            greet: function (event) {
              // `this` внутри методов указывает на экземпляр Vue
              alert('Привет, ' + this.name + '!')
              // `event` — нативное событие DOM
              if (event) {
                alert(event.target.tagName)
              }
            }
          }
        })

        // вызывать методы можно и императивно
        example2.greet() // => 'Привет, Vue.js!'
    </pre>
    </div>
    <p>Иногда в inline-обработчиках необходим доступ к оригинальному событию DOM. Его можно передать в метод, используя специальную переменную $event:</p>
    <div class="code-style">
    <pre>
    HTML:
        < button v-on:click="warn('Форма не может быть отправлена.', $event)">
          Отправить
        < /button>
        
    JS:
        methods: {
          warn: function (message, event) {
            // теперь у нас есть доступ к нативному событию
            if (event) {
              event.preventDefault()
            }
            alert(message)
          }
        }
    </pre>
    </div>
    <p><b>Модификаторы событий</b></p>
    <p>Очень часто возникает необходимость вызывать event.preventDefault() или event.stopPropagation() в обработчике события. Несмотря на то, что это легко сделать внутри метода, лучше сохранять чистоту логики и абстрагироваться от деталей реализации событий DOM.</p>
    <p>Для решения этой задачи Vue предоставляет модификаторы событий для v-on, которые указываются как постфиксы и отделяются точкой: <b>.stop, .prevent, .capture, .self, .once, .passive .</b></p>
    <div class="code-style">
    <pre>
    //событие click не будет всплывать дальше
    < a v-on:click.stop="doThis">< /a>

    //событие submit больше не будет перезагружать страницу    
    < form v-on:submit.prevent="onSubmit">< /form>

    //модификаторы можно объединять в цепочки    
    < a v-on:click.stop.prevent="doThat">< /a>

    //и использовать без указания метода-обработчика    
    < form v-on:submit.prevent>< /form>

    //можно отслеживать события в режиме capture, т.е. событие, нацеленное    //на внутренний элемент, обрабатывается здесь до обработки этим элементом    
    < div v-on:click.capture="doThis">...< /div>

    //вызов обработчика только в случае наступления события непосредственно    //на данном элементе (то есть не на дочернем компоненте)    
    < div v-on:click.self="doThat">...< /div>
    
    //Событие click сработает только 1 раз
    < a v-on:click.once="doThis">< /a>
    </pre>
    </div>
    <p>При использовании модификаторов порядок имеет значение, потому что код генерируется в том же порядке. Поэтому v-on:click.prevent.self будет предотвращать все клики, в то время как v-on:click.self.prevent будет предотвращать клики только на самом элементе.</p>
    <p>Vue также предоставляет модификатор .passive, соответствующий опции passive в addEventListener. Модификатор .passive особенно полезен для повышения производительности на мобильных устройствах.</p>
    <div class="code-style">
    <pre>
    <!-- по умолчанию событие scroll (при прокрутке) произойдёт -->
    <!-- незамедлительно, вместо ожидания окончания `onScroll`  -->
    <!-- на случай, если там будет `event.preventDefault()`     -->
    < div v-on:scroll.passive="onScroll">...< /div>
    </pre>
    </div>
    <p><b>Тут далее про модификаторы клавишь, пока пропущу.</b></p>
    
    
    
    
    
    
    
    <h3 class="header-style2">Директива v-model</h3>
    <p>Работа с формами</p>
    <p><span class="tag-style" id="8">v-model</span> - директива используется для двунаправленного связывания данных с элементами форм input, textarea и select.</p>
    <p><span class="vue-b">v-model</span> игнорирует начальное значение атрибутов value, checked или selected на любых элементах форм. Данные экземпляра Vue всегда считаются источником истины. Начальное значение необходимо объявить на стороне JavaScript, внутри опции data компонента.</p>
    <p>Внутренне v-model использует разные свойства и генерирует разные события для различных элементов ввода:</p>
    <ul class="list">
        <li>элементы для ввода текста и многострочного текста используют свойство value и событие input;</li>
        <li>чекбоксы и радиокнопки используют свойство checked и событие change;</li>
        <li>выпадающие списки используют свойство value и событие change.</li>
    </ul>
    <p><b>Текст</b></p>
    <div class="code-style">
    <pre>
    < input v-model="message" placeholder="отредактируй меня">
    < p>Введённое сообщение: {{ message }}< /p>
    </pre>
    </div>
    <p><b>Многострочный текст</b></p>
    <div class="code-style">
    <pre>
        < span>Введённое многострочное сообщение:< /span>
        < p style="white-space: pre-line;">{{ message }}< /p>
        < br>
        < textarea v-model="message" placeholder="введите несколько строчек">< /textarea>
    </pre>
    </div>
    <p><b>Чекбоксы</b></p>
    <p>Один чекбокс, привязанный к булевому значению:</p>
    <div class="code-style">
    <pre>
        < input type="checkbox" id="checkbox" v-model="checked">
        < label for="checkbox">{{ checked }}</label>
    </pre>
    </div>
    <p>Список чекбоксов, привязанных к одному массиву:</p>
    <div class="code-style">
    <pre>
    HTML:
        < input type="checkbox" id="jack" value="Джек" v-model="checkedNames">
        < label for="jack">Джек< /label>
        < input type="checkbox" id="john" value="Джон" v-model="checkedNames">
        < label for="john">Джон< /label>
        < input type="checkbox" id="mike" value="Майк" v-model="checkedNames">
        < label for="mike">Майк< /label>
        < br>
        < span>Отмеченные имена: {{ checkedNames }}< /span>
    JS:
        new Vue({
          el: '...',
          data: {
            checkedNames: []
          }
        })
    </pre>
    </div>
    <p><b>Радиокнопки</b></p>
    <div class="code-style">
    <pre>
    < input type="radio" id="one" value="Один" v-model="picked">
    < label for="one">Один< /label>
    < br>
    < input type="radio" id="two" value="Два" v-model="picked">
    < label for="two">Два< /label>
    < br>
    < span>Выбрано: {{ picked }}< /span>
    </pre>
    </div>
    <p>В свойство picked попадает значение атрибута value при выборе радиокнопки</p>
    
    <p><b>Выпадающие списки</b></p>
    <p>Выбор <b>одного варианта</b> из списка:</p>
    <div class="code-style">
    <pre>
    HTML:
        < select v-model="selected">
          < option disabled value="">Выберите один из вариантов< /option>
          < option>А< /option>
          < option>Б< /option>
          < option>В< /option>
        < /select>
        < span>Выбрано: {{ selected }}< /span>
    JS:
        new Vue({
          el: '...',
          data: {
            selected: ''
          }
        })
    </pre>
    </div> 
    <p>Если в теге option не указан атрибут value, то vue положит в свойство selected значение этого тега, в нашем случае это будут буквы А или Б и т.д, но если этот атрибут будет, то в selected будет попадать то что записанно в value.</p>
    <p>Если начальное значение выражения v-model не соответствует ни одному из вариантов списка, элемент < select> будет отображаться в «невыбранном» состоянии. В iOS это приведёт к тому, что пользователь не сможет выбрать первый элемент, потому что iOS не сгенерирует событие change в этом случае. Поэтому рекомендуется предоставлять отключённый disabled-вариант выбора с пустым значением value, как показано в примере выше.</p>
    <p>Выбор <b>нескольких вариантов</b> из списка (с привязкой к массиву):</p>
    <div class="code-style">
    <pre>
    HTML:
        < select v-model="selected" multiple>
          < option>А< /option>
          < option>Б< /option>
          < option>В< /option>
        < /select>
        < br>
        < span>Выбрано: {{ selected }}< /span>
    JS:
        new Vue({
          el: '...',
          data: {
            selected: []
          }
        })
    </pre>
    </div>
    <p>Чтобы выбрать несколько вариантов из списка и поместить эти варианты в массив, мы первым делом добавляем атрибут multiple в select, потом в компоненте объявляем свойство-массив selected  и также подставляем его в директиву v-model. Все выбранные пункты сразу будут помещаться в массив.</p>
    <p><b>Динамическое отображение</b> списка опций с помощью v-for:</p>
    <div class="code-style">
    <pre>
    HTML:
        < select v-model="selected">
          < option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          < /option>
        < /select>
        < span>Выбрано: {{ selected }}< /span>
    JS:
        new Vue({
          el: '...',
          data: {
            selected: 'А',
            options: [
              { text: 'Один', value: 'А' },
              { text: 'Два', value: 'Б' },
              { text: 'Три', value: 'В' }
            ]
          }
        })
    </pre>
    </div>
    
    <p><b>Модификаторы для v-model</b></p>
    <p><span class="vue-g">.lazy</span> - По умолчанию v-model синхронизирует ввод с данными по событию input (за исключением вышеупомянутых событий IME). Можно указать модификатор lazy, чтобы использовать для синхронизации после события change:</p>
    <div class="code-style">
    <pre>
    <!-- синхронизируется по событию "change", а не "input" -->
    < input v-model.lazy="msg">
    </pre>
    </div>
    <p><span class="vue-g">.number</span> - Для автоматического приведения введённого пользователем к Number, добавьте модификатор number:</p>
    <div class="code-style">
    <pre>
    < input v-model.number="age" type="number">
    </pre>
    </div>
    <p><span class="vue-g">.trim</span> - Если необходимо, чтобы автоматически обрезались пробелы в начале и в конце строки, используйте модификатор trim для полей ввода, обрабатываемых через v-model:</p>
    <div class="code-style">
    <pre>
    < input v-model.trim="msg">
    </pre>
    </div>
</div>

